.product-image {
  width: 100%;
}

.product-item {
  background: #fff;
  max-width: 380px;
  box-shadow: 0 0 10px rgb(202 202 202 / 50%);
  position: relative;
  padding: 20px;
  border-radius: 8px;
}

.product-list-container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
